@model List<Provider>


<header>
    <style>
        .page-header {
            background: linear-gradient(rgba(53, 53, 53, .7), rgba(53, 53, 53, .7)), url('/images/team.jpg') center center no-repeat;
            background-size: cover;
            height:40vh;
        }
    </style>
</header>

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Our Team</h1>
    </div>
</div>
<!-- Page Header End -->
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center">
            @if (Model != null && Model.Count > 0)
            {
                <h1 class="display-5 mb-5">Providers For @Model[0].ServiceItem.Name</h1>
                <!-- The rest of your HTML code here -->
            }
            else
            {
                <p>No providers available.</p>
            }
        </div>
        <div class="row g-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="overflow-hidden position-relative">
                            <img class="img-fluid" src="@((item.ImageUrl != null) ? Url.Content(item.ImageUrl) : "")" alt="">
                        </div>
                        <div class="text-center border border-5 border-light border-top-0 p-4">
                            <h5 class="mb-0">@item.Name</h5>
                            <small>@item.Position</small><br />
                            <a class="btn btn-primary" style="margin-top:6px;" asp-action="addToOrders" asp-route-id="@item.ID"><i class="fa fa-details">Request</i></a>
                            <a class="btn btn-dark" style="margin-top:6px;" asp-action="ProviderDetails" asp-route-id="@item.ID"><i class="fa fa-details">Details</i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Team End -->
